.in{
    color: blue;
    background-color: aquamarine;
}
.dec{
    color: blue;
    background-color: aquamarine;
    
}
body{
    background-color: rgb(43, 159, 76);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Protest Revolution', sans-serif;
}
